{% extends "base.html" %}

{% block content %}
  <div class="p-6">
    <h1>
      Username: {{ cook.username }}
      <a style="color: red"
        href="{% url 'kitchen:cook-delete' pk=cook.id %}">
        Delete
      </a>
    </h1>

    <p><strong>First name:</strong> {{ cook.first_name }}</p>
    <p><strong>Last name:</strong> {{ cook.last_name }}</p>
    <p>
      <strong>Years of experience:</strong> {{ cook.years_of_experience }}

    </p>
    <p><strong>Is staff:</strong> {{ cook.is_staff }}</p>
    <a class="fs-3 fw-bold" style="color: blue" href="{% url 'kitchen:cook-update' pk=cook.id %}" >
      Update
    </a>
    <hr>
      <div class="ml-3">
      <h4>Dishes</h4>

      {% for dish in cook.dishes.all %}
          <hr>
          <p><strong>Name:</strong> {{ dish }}</p>
          <p><strong>Description:</strong> {{ dish.description }}</p>

      {% empty %}
        <p>No dishes!</p>
      {% endfor %}
    </div>
  </div>

{% endblock %}
