{% extends "base.html" %}

{% block title %} Kitchen {% endblock title %}

{% block content %}

    <section class="pt-3 pb-4" id="count-stats">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 z-index-2 border-radius-xl mt-n10 mx-auto py-3 blur shadow-blur">
          <div class="row">
            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary"><span id="state1" countTo={{ num_cooks }}>0</span>+</h1>
                <h5 class="mt-3">Cooks:</h5>
                <p class="text-sm">Cooks</p>
              </div>
              <hr class="vertical dark">
            </div>
            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary"> <span id="state2" countTo={{ num_dish }}>0</span>+</h1>
                <h5 class="mt-3">Dishes:</h5>
                <p class="text-sm">Dishes</p>
              </div>
              <hr class="vertical dark">
            </div>
            <div class="col-md-4">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary" id="state3" countTo={{ num_dish_type }}>0</h1>
                <h5 class="mt-3">Types of dish:</h5>
                <p class="text-sm">Types of dish</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
